<div class="repository h-full">
  @if (!repository) {
    <div class="grid place-items-center h-full w-full">
      <p-progress-spinner />
    </div>
  } @else {
    <div class="mb-4">
      <button pButton pRipple text severity="secondary" class="block !p-0" routerLink="/repositories">
        <i class="pi pi-angle-left"></i>
        <span pButtonLabel>{{ 'REPOSITORY.BREADCRUMBS.REPOSITORIES' | translate }}</span>
      </button>
    </div>

    <div class="mb-4">
      <app-repository-info [repository]="repository"></app-repository-info>
    </div>

    <div class="mb-4" [ngClass]="{ 'panel--disabled': isDataLoading }">
      <p-panel header="Issues">
        @for (issue of repository.issues; track $index; let isLast = $last) {
          <div [ngClass]="{ 'mb-2': !isLast }">
            <div>
              <span class="font-bold">{{ issue.title }}</span>
              <a [href]="issue.url" target="_blank" class="ml-2" [title]="'REPOSITORY.ISSUE.URL' | translate">
                <span class="pi pi-link text-color"></span>
              </a>
            </div>
            <div>
              <small>{{ issue.author }} | {{ issue.createdAt | date }}</small>
            </div>
          </div>
          <p-divider *ngIf="!isLast" />
        } @empty {
          <div>{{ 'REPOSITORY.ISSUE.EMPTY' | translate }}</div>
        }
      </p-panel>
    </div>

    <app-pagination (paginationChange)="onPaginationChange($event)"></app-pagination>
  }
</div>
