<div class="token">
  <p-panel class="token__panel block mb-4">
    <div class="grid place-items-center">
      <p>
        <span class="pi pi-github !text-5xl"></span>
      </p>
      <p class="pt-2">
        {{ 'TOKEN.WELCOME' | translate }}<strong>{{ 'APP.TITLE' | translate }}</strong>
      </p>
      <p class="pt-2 text-center">{{ 'TOKEN.INSTRUCTIONS' | translate }}</p>
    </div>
  </p-panel>
  <p-panel [header]="'TOKEN.FORM.HEADER' | translate" class="token__panel block mb-4">
    <form [formGroup]="apiForm">
      <div class="mb-3">{{ 'TOKEN.FORM.TOKEN.HEADER' | translate }}</div>
      <div>
        <p-floatlabel variant="on">
          <input
            pInputText
            id="token"
            type="text"
            formControlName="token"
            class="w-full"
            [ngClass]="{
              'ng-invalid': tokenControl?.invalid || isInvalidToken(),
              'ng-dirty': tokenControl?.dirty,
            }"
          />
          <label for="token">{{ 'TOKEN.FORM.TOKEN.LABEL' | translate }}</label>
        </p-floatlabel>
        <div *ngIf="tokenControl?.dirty && (tokenControl?.invalid || isInvalidToken())" class="text-error mt-1">
          <small>
            <p>{{ 'TOKEN.FORM.TOKEN.ERROR.REQUIRED' | translate }}</p>
            <p>
              {{ 'TOKEN.FORM.TOKEN.ERROR.INSTRUCTIONS_1' | translate }}
              <a
                href="https://docs.github.com/en/authentication/keeping-your-account-and-data-secure/managing-your-personal-access-tokens"
                target="_blank"
                class="font-bold underline"
                >{{ 'TOKEN.FORM.TOKEN.ERROR.INSTRUCTIONS_2' | translate }}</a
              >
              {{ 'TOKEN.FORM.TOKEN.ERROR.INSTRUCTIONS_3' | translate }}
            </p>
          </small>
        </div>
      </div>
      <div class="mb-3 flex items-center">
        <p-checkbox formControlName="storeToken" size="small" [binary]="true" />
        <div class="ml-2 mt-2">{{ 'TOKEN.FORM.STORE_TOKEN.LABEL' | translate }}</div>
      </div>
    </form>

    <div class="mt-4">
      <button
        pButton
        pRipple
        severity="primary"
        [disabled]="apiForm.invalid || isSubmitInProgress()"
        class="block w-full"
        (click)="submitForm()"
      >
        <i class="pi pi-spin pi-spinner mr-1" *ngIf="isSubmitInProgress()"></i>
        <span pButtonLabel>{{ 'TOKEN.FORM.BUTTON.START' | translate }}</span>
      </button>
    </div>

    <div class="mt-4">
      <small class="block">
        {{ 'TOKEN.FORM.DISCLAIMER_1' | translate }}
      </small>
      <small class="block" [innerHTML]="'TOKEN.FORM.DISCLAIMER_2' | translate"></small>
    </div>
  </p-panel>
</div>
