<div class="repositories h-full">
  @if ((repositories$ | async) === null) {
    <div class="grid place-items-center h-full w-full">
      <p-progress-spinner />
    </div>
  } @else {
    <div class="mb-4" [ngClass]="{ 'panel--disabled': isDataLoading }" *ngFor="let repository of repositories$ | async">
      <a role="button" tabindex="0" (keypress)="repositoryClick(repository)" (click)="repositoryClick(repository)">
        <app-repository-info [repository]="repository"></app-repository-info>
      </a>
    </div>

    <app-pagination (paginationChange)="onPaginationChange($event)"></app-pagination>
  }
</div>
